@import "scss/reset";
$tablet-width: 600px;
$desktop-width: 1100px;
$mobile-width: 420px;

@mixin media-max($max) {
  @media screen and (max-width: #{$max}) {
    @content;
  }
}

@mixin media-min($min) {
  @media screen and (min-width: #{$min}) {
    @content;
  }
}

body {
  width: 100%
}

* {
  box-sizing: border-box;
}

.header{
  width: 100%;
  height:60px;
  background-color: #88a3d6;
}
.gallery {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2.54237%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.big {
  float: left;
  width: 22.1311%;
  margin-right: 1.6393%;
  &__item {
    margin-top: 20px;
    float: left;
    height: 350px;
    width: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

.small {
  float: left;
  width: 55.7377%;
  margin-right: 1.6393%;
  font-size: 0;
  &__item {
    display: inline-block;
    font-size: 0;
    height: 100px;
    margin-top: 20px;
    width: 25%;
  }
  &__wrap {
    width: 88.2352%;
    margin: 0 auto;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

.normal {
  float: left;
  width: 18.8524%;
  &__item {
    margin-top: 20px;
    float: left;
    height: 350px;
    width: 100%;
  }
  &__img {
    width: 100% !important;
    height: 100% !important;
  }
}

@include media-max($desktop-width) {
  .gallery {
    padding: 0 0.7812% 0 1.9531%;
    margin-right: 0;
  }
  .big {
    padding: 0;
    margin-right: 0;
    width: 26.0416%;
    min-width: 150px;
  }
  .normal {
    padding: 0;
    margin-right: 0;
    width: 26.0416%;
    float: none;
    min-width: 150px;
  }
  .small {
    width: 70.442%;
    padding: 0;
    float: right;
    margin-right: 0;
    &__item {
      width: 33.33333%;
      max-width: 150px;
    }
    &__wrap {
      width: 91.6666%;
    }
  }
}

@include media-max($tablet-width) {
  .gallery {
    padding: 0 3.125%;
    position: relative;
  }
  .big {
    padding: 0;
    float: none;
    position: absolute;
    width: 93.75%;
    left: 50%;
    transform: translateX(-50%);
    top:100%
  }
  .small {
    top: 100%;
    float: none;
    width: 100%;
    left: 0;
    &__item {
      width: 50%;
    }
    &__wrap {
      &:nth-last-of-type(2n) {
        margin-right: 12.7659%;
      }
    }
  }
  .normal {
    float: none;
    width: 100%;
  }

}

@include media-min(1280px) {
  .small {
    text-align: center;

    &__item {
      max-width: 200px;
    }
  }
}